/* Tamaños */

/*Small devices landscape phones, 576px and up*/
@media (min-width: 576px){
    .header-area .main-menu .navbar .nav-link{
        padding: .5rem 1rem;
    }
    .container .card{
        max-width: 240px;
    }
} 

/*Medium devices tablets, 768px and up*/
@media (min-width: 768px){
    .header-area .main-menu .navbar .nal-link{
        font-size: 16px;
    }   
    .main-info .container{
        bottom: -120px;
    }
    .container .card{
        max-width: 360px;
    }
}

/*Large devices desktops, 992px and up*/
@media (min-width: 992px){
    .container .card{
        max-width: 360px;
    }
}

/*Extra large devices large desktops, 1200px and up*/
@media (min-width: 1200px){
    .container .card{
        max-width: 240px;
    }
}