body {
    background-image: url(../imagenes/textura.jpg)!important;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-repeat: initial;
}

footer {
    text-align: center;
    font-size: 40px;
    color: red;
    display: block;
    background: #3B3937;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: white;    
    display: block;
    background-image: url(../imagenes/texturatitulo.jpg);    
    margin: 5px 5px;
    padding: 40px;
}

.subtitulo {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.textobase {
    border: 1px white solid;
    margin: 5px 5px;
    padding: 15px;
    background: #3B3937;
}

#kilo {
    font-size: 25px;    
    color: green;
}

#explicacion {
    font-size: 25px;    
    color: green;    
}

a:link.referencia {
    color: lightcoral;
    font-size: 30px;
    text-decoration: none;
}

a:hover.referencia {
    color: blue;
    text-decoration: underline;
}

a:active.referencia {
    color: red;
    text-decoration: underline;
}

a:link.mantis {
    text-decoration: none;
    color: yellowgreen;
}

a:hover.mantis {
    color: blue;
    text-decoration: underline;
}

a:active.mantis {
    color: red;
}

li {
    padding: 20px 0px 0px;
}